.leaflet-top {
  visibility: hidden;
}
header {
  visibility: hidden;
  height: 0px;
}
.map #map {
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  height: 100%;
  right: 0;
}
.reverse-label {
  top: 0px;
  bottom: inherit;
  visibility: visible;
  font-size: x-large;
}
