$color-beta: #de1c12;
$color-border: #ddd;
$color-border-dark: #222;
$color-button: #4e5d73;
$color-button-hover: #7e8da3;
$color-dark-text: #333;
$color-near-white: #fefefe;
$color-text: rgba(64, 64, 64, .75);
$color-white: #fff;

$color-background: $color-near-white;
$input-text-color-border: $color-border;
