@use 'colors';
@use 'leaflet';
//urls
$url-0: url(../images/spritesheet.png);
$url-1: url(../images/spritesheet.svg);
$url-2: url(../images/spritesheet-2x.png);

// Factorisation des styles, clarification des commentaires, amélioration de la gestion des actions et du responsive.

.leaflet-draw-section {
  position: relative;
}
.leaflet-draw-toolbar {
  margin-top: 12px;
  a {
    background-image: none;
    background-repeat: no-repeat;
    background-size: 270px 30px;
    background-clip: padding-box;
  }
  .leaflet-draw-draw-polyline {
    background-position: -2px -2px;
  }
  .leaflet-draw-draw-polygon {
    background-position: -31px -2px;
  }
  .leaflet-draw-draw-rectangle {
    background-position: -62px -2px;
  }
  .leaflet-draw-draw-circle {
    background-position: -92px -2px;
  }
  .leaflet-draw-draw-marker {
    background-position: -122px -2px;
  }
  .leaflet-draw-edit-edit {
    background-position: -152px -2px;
    &.leaflet-disabled {
      background-position: -212px -2px;
    }
  }
  .leaflet-draw-edit-remove {
    background-position: -182px -2px;
    &.leaflet-disabled {
      background-position: -242px -2px;
    }
  }
}
.leaflet-draw-toolbar-top {
  margin-top: 0;
}
.leaflet-draw-actions {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 26px;
  top: 0;
  white-space: nowrap;
  li {
    display: inline-block;
    &:first-child a {
      border-left: none;
    }
    &:last-child a {
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 0 4px 4px 0;
    }
  }
  a {
    background-color: colors.$color-stack;
    border-left: 1px solid colors.$color-silver-chalice;
    color: colors.$white;
    font: 11px/19px leaflet.$font-0, leaflet.$font-1, leaflet.$font-2, leaflet.$font-3;
    line-height: 28px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
    &:hover {
      background-color: colors.$color-star-dust;
    }
  }
}
.leaflet-touch {
  .leaflet-draw-actions {
    left: 32px;
    a {
      font-size: 12px;
      line-height: 30px;
      height: 30px;
    }
  }
  .leaflet-draw-toolbar {
    .leaflet-draw-draw-polyline {
      background-position: 0 -1px;
    }
    .leaflet-draw-draw-polygon {
      background-position: -29px -1px;
    }
    .leaflet-draw-draw-rectangle {
      background-position: -60px -1px;
    }
    .leaflet-draw-draw-circle {
      background-position: -90px -1px;
    }
    .leaflet-draw-draw-marker {
      background-position: -120px -1px;
    }
    .leaflet-draw-edit-edit {
      background-position: -150px -1px;
      &.leaflet-disabled {
        background-position: -210px -1px;
      }
    }
    .leaflet-draw-edit-remove {
      background-position: -180px -1px;
      &.leaflet-disabled {
        background-position: -240px -2px;
      }
    }
  }
  .leaflet-right .leaflet-draw-actions {
    right: 32px;
    left: auto;
  }
}
.leaflet-draw-actions-bottom {
  margin-top: 0;
  a {
    height: 27px;
    line-height: 27px;
  }
}
.leaflet-draw-actions-top {
  margin-top: 1px;
  a {
    height: 27px;
    line-height: 27px;
  }
  &.leaflet-draw-actions-bottom a {
    height: 26px;
    line-height: 26px;
  }
}
.leaflet-mouse-marker {
  background-color: colors.$white;
  cursor: crosshair;
}
.leaflet-draw-tooltip {
  background: colors.$black-50;
  border: 1px solid transparent;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 4px;
  color: colors.$white;
  font: 12px/18px leaflet.$font-0, leaflet.$font-1, leaflet.$font-2, leaflet.$font-3;
  margin-left: 20px;
  margin-top: -21px;
  padding: 4px 8px;
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  z-index: 6;
  &:before {
    border-right: 6px solid colors.$black;
    border-right-color: colors.$black-50;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: "";
    position: absolute;
    top: 7px;
    left: -7px;
  }
}
.leaflet-error-draw-tooltip {
  background-color: colors.$color-vanilla-ice;
  border: 1px solid colors.$color-cavern-pink;
  color: colors.$color-chestnut;
  &:before {
    border-right-color: colors.$color-cavern-pink;
  }
}
.leaflet-draw-tooltip-single {
  margin-top: -12px;
}
.leaflet-draw-tooltip-subtext {
  color: colors.$color-pig-pink;
}
.leaflet-draw-guide-dash {
  font-size: 1%;
  opacity: 0.6;
  position: absolute;
  width: 5px;
  height: 5px;
}
.leaflet-edit-marker-selected {
  background-color: colors.$color-brilliant-rose-10;
  border: 4px dashed colors.$color-brilliant-rose-60;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 4px;
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: content-box;
}
.leaflet-edit-move {
  cursor: move;
}
.leaflet-edit-resize {
  cursor: pointer;
}
.leaflet-draw-toolbar-notop a:first-child {
  //Instead of the line below you could use @include border-top-right-radius($radius)
  border-top-right-radius: 0;
}
.leaflet-draw-toolbar-nobottom a:last-child {
  //Instead of the line below you could use @include border-bottom-right-radius($radius)
  border-bottom-right-radius: 0;
}
.leaflet-retina .leaflet-draw-toolbar a {
  background-image: none;
}
.leaflet-draw a {
  display: block;
  text-align: center;
  text-decoration: none;
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}
.leaflet-right .leaflet-draw-actions {
  right: 26px;
  left: auto;
  li {
    &:last-child a {
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 0;
    }
    &:first-child a {
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 4px 0 0 4px;
    }
  }
}
.leaflet-oldie .leaflet-draw-toolbar {
  border: 1px solid colors.$color-mountain-mist;
}
