// *************************************************
// *********************** FONT ********************
// *************************************************

$ff-arial: 'Arial';
$ff-helvetica-neue: 'Helvetica Neue';
$ff-helvetica: 'Helvetica';

$font-0: 'Lucida Console';
$font-1: 'Monaco';
$font-2: 'monospace';
$font-3: 'Tahoma';
$font-4: 'Verdana';
$font-5: 'sans-serif';

//@import "~/opensans-npm-webfont/style";

//Start of material-design-iconic-font
//Start of material-design-iconic-font
@use 'zmdi' as *;
//$ff-material: $zmdi-font-name;
/*
@mixin font($ff, $file) {
  font-family: $ff;
//  src: url('../fonts/'+$file+'.eot');
  src: url('../fonts/'+$file+'.eot?#iefix') format('embedded-opentype'), url('../fonts/'+$file+'.woff') format('woff'), url('../fonts/'+$file+'.ttf') format('truetype'), url('../fonts/'+$file+'.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

//@font-face {
//
//  @include font($ff-material, 'Material-Design-Iconic-Font')
//}

@font-face {
  @include font('open_sanssemibold', 'Semibold/OpenSans-Semibold')
}

@font-face {
  @include font('open_sansextrabold_italic', 'ExtraBoldItalic/OpenSans-ExtraBoldItalic')
}

@font-face {
  @include font('open_sanssemibold_italic', 'SemiboldItalic/OpenSans-SemiboldItalic')
}

@font-face {
  @include font('open_sansregular', 'Regular/OpenSans-Regular')
}

@font-face {
  @include font('open_sanslight', 'Light/OpenSans-Light')
}

@font-face {
  @include font('open_sanslight_italic', 'LightItalic/OpenSans-LightItalic')
}

@font-face {
  @include font('open_sansitalic', 'Italic/OpenSans-Italic')
}

@font-face {
  @include font('open_sansextrabold', 'ExtraBold/OpenSans-ExtraBold')
}

@font-face {
  @include font('open_sansbold', 'Bold/OpenSans')
}

@font-face {
  @include font('open_sansbold_italic', 'BoldItalic/OpenSans-BoldItalic')
}
*/