/* ************************************************* */
/* ******************** GENERIC RULES ************** */
/* ************************************************* */

body {
  margin: 0;
  padding: 0;
  color: #404040;
  color: rgba(0, 0, 0, 0.75);
  font: 15px/20px 'open_sansregular', sans-serif;
  -webkit-font-smoothing: antialiased;
}

@media print{
  @page {
    size: landscape
  }
}

input, textarea {
  color: #404040;
  color: rgba(0, 0, 0, 0.75);
  font: 15px/20px 'open_sansregular', sans-serif;
  -webkit-font-smoothing: antialiased;
}

div, ul, li, a, section, nav, h1, h2, h3, h4, h5, h6, hr, input, textarea, footer, header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr {
  clear: both;
  width: 100%;
  height: 0;
  max-width: 980px;
  margin: 28px auto;
  -moz-border-bottom-colors: none; // hack :)
  -moz-border-left-colors: none;   // est-il necessaire???
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #ddd;
  border-image: none;
  border-style: solid;
  border-width: 1px 0 0;
}

ol, ul {
  list-style: none;
}

h2, h3 {
  margin-bottom: 15px;
  line-height: 1.2em;
}

h1 {
  line-height: 1em;
}

h1, h2, h3, h4, h5, strong {
  font-family: 'open_sansbold';
  font-weight: normal;
}

a {
  color: #333;
}
