// *************************************************
// *********************** GRID ********************
// *************************************************

// Wrapper principal pour la grille
.wrapper {
  clear: both;
  width: 100%;

  // Clearfix moderne
  &:after {
    clear: both;
    content: '';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
}
