/* ************************************************* */
/* *********************** GRID ******************** */
/* ************************************************* */

.wrapper {
  width: 100%;
  clear: both;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
