// *************************************************
// *************** HEADER & FOOTER *****************
// *************************************************


.headmasked {
  @media (max-width: 640px){
    visibility: hidden;
  }
}

header {
  background-color: $color-near-white;
  border-bottom: 1px solid $color-dark-text;
  color: $color-dark-text;
  height: 100px;
  padding: 0 20px;

  a {
    color: $color-near-white;
    font-family: 'open_sanslight';
    text-decoration: none;
  }

  h1 {
    font-family: 'open_sanslight';
    font-size: 40px;
    font-weight: normal;
    line-height: 100px;
    margin-left: 140px;

    a {
      color: $color-dark-text;
    }

    @media (max-width: 640px){
      line-height: 45px;
      margin-left: 0;
    }
  }

  .menu {
    float: right;
    margin-right: 60px;
    @media (max-width: 640px){
      margin-right: 0;
    }

    a {
      color: $color-dark-text;
      font-family: 'open_sansextrabold';
      font-size: 15px;
      font-weight: normal;
      line-height: 100px;
      text-transform: uppercase;

    }

    a:hover {
      text-decoration: underline;
    }

    a+a {
      margin-left: 20px;
      @media (max-width: 640px){
        margin-left: 0;
      }
    }
  }

  section {
    display: inline-block;
  }

  @media (max-width: 640px){
    height: 60px;
  }

  @media print{
    height: 0;
    visibility: hidden;
  }
}

footer {
  background-color: $color-dark-text;
  border-top: 1px solid $color-border-dark;
  color: $color-near-white;
  margin-top: 100px;
  padding: 50px;

  a {
    color: $color-near-white;
    font-family: 'open_sanslight';
    text-decoration: none;
  }

  ul {
    display: inline-block;
    width: 30%;
  }
}

.beta:after {
  color: $color-beta;
  content: 'bêta';
  float: right;
  font-family: 'open_sansextrabold';
  font-size: 15px;
  font-weight: normal;
  left: -31px;
  padding: 3px 5px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 25px;
}
