// *************************************************
// *************** HEADER & FOOTER *****************
// *************************************************
@use "general";
@use "colors";

.headmasked {
  @media (max-width: general.$smartphone) {
    visibility: hidden;
  }
}

header {
  background-color: colors.$color-background;
  border-bottom: 1px solid colors.$color-border-dark;
  color: colors.$color-dark-text;
  height: 65px;
  padding: 0 20px;

  a {
    color: colors.$color-dark-text;
    font-family: 'open_sanslight';
    text-decoration: none;
  }

  h1 {
    font-family: 'open_sanslight';
    font-size: 40px;
    font-weight: normal;
    line-height: 60px;
    margin-left: 140px;

    @media (max-width: general.$smartphone) {
      line-height: 45px;
      margin-left: 0;
    }
  }

  .menu {
    float: right;
    margin-right: 60px;

    @media (max-width: general.$smartphone) {
      margin-right: 0;
    }

    .bug {
      color: colors.$color-beta;
    }

    a {
      color: colors.$color-dark-text;
      font-family: 'open_sansextrabold';
      font-size: 15px;
      font-weight: normal;
      line-height: 100px;
      text-transform: uppercase;
    }

    a:hover {
      text-decoration: underline;
    }

    a + a {
      margin-left: 20px;

      @media (max-width: general.$smartphone) {
        margin-left: 0;
      }
    }
  }

  section {
    display: inline-block;
  }

  @media (max-width: general.$smartphone) {
    height: 60px;
  }

  @media print {
    height: 0;
    visibility: hidden;
  }
}

footer {
  background-color: colors.$color-dark-text;
  border-top: 1px solid colors.$color-border-dark;
  color: colors.$color-near-white;
  margin-top: 100px;
  padding: 50px;

  a {
    color: colors.$color-near-white;
    font-family: 'open_sanslight';
    text-decoration: none;
  }

  ul {
    display: inline-block;
    width: 30%;
  }
}

.beta:after {
  color: colors.$color-beta;
  content: 'bêta';
  float: right;
  font-family: 'open_sansextrabold';
  font-size: 15px;
  font-weight: normal;
  left: -31px;
  padding: 3px 5px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 20px;
  transform: rotate(-15deg);
}
