
.photon-autocomplete {
  li {
    font-size: 1em;
    line-height: 1em;
    min-height: 40px;
    overflow: hidden;
    padding: 5px 10px;
    white-space: nowrap;

    strong {
      display: block;
    }

    &.on {
      background-color: $color-boston-blue-approx;
      cursor: pointer;
    }

    &.photon-no-result {
      color: $color-storm-dust-approx;
      font-size: .9em;
      line-height: 40px;
      text-align: center;
    }
  }

  .photon-feedback {
    border-top: 1px solid $color-gallery-approx;
    color: $color-mountain-mist-approx;
    display: block;
    font-size: .8em;
    padding: 3px;
    text-align: right;
  }
}

.photon-autocomplete {
  background-color: $white;
  box-shadow: 0 4px 9px $color-mountain-mist-approx;
  display: none;
  position: absolute;
  z-index: 1000;
}

.photon-input:focus {
  width: 400px;
}
