// *************************************************
// ********************* MAP ***********************
// *************************************************
@use 'general';
@use 'colors';
@use 'fonts';
$height-photon: 46px;

// Clarification de la structure, renforcement du responsive, amélioration de la lisibilité.

.nohead {
  @media (max-width: general.$smartphone) {
    top: 0; // !important;
  }
}

.geo {
  float: right;
  visibility: hidden;
  width: 0;
  @media (max-width: general.$smartphone) {
    display: block;
    float: none;
    visibility: visible;
  }
  font-name: fonts.$zmdi-font-name;
}

.map {
  .leaflet-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 60px;
    width: 100%;

    .photon-input {
      margin-bottom: 0;
      width: 400px;
      @media (max-width: general.$smartphone) {
        margin-top: -10px;
        width: 100%;
      }
    }

    .leaflet-popup-content {
      text-align: center;
    }

    .leaflet-control-geoloc {
      
      background: colors.$color-leaflet-background;
      border-radius: 5px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
      color: colors.$color-leaflet-button;
      padding: 6px;
      visibility: hidden;
      @media (max-width: general.$smartphone) {
        position: absolute;
        right: 0;
        top: 90px;
        visibility: visible;
      }
    }

    .leaflet-right {
      width: 100%;
    }

    .leaflet-top {
      @media print {
        visibility: hidden;
      }

      .leaflet-right {
        @media (max-width: general.$smartphone) {
          display: block;
          top: 45px;
        }
        @media print {
          visibility: hidden;
        }
      }
    }
    .leaflet-control-layers {
      position: absolute;
      right: 0;
      //top: 0;

      @media (max-width: general.$smartphone) {
        display: block;
        top: $height-photon; //hack
      }
      @media print {
        visibility: hidden;
      }
    }

    .leaflet-control-layers-toggle:before {
      content: fonts.$zmdi-var-layers;
    }

    .leaflet-control-layers-toggle {
      //background-image: url(../images/layers.png);
      //width: 36px;
      //height: 36px;
      background-image: none;
      color: colors.$color-leaflet-button;
      font: normal normal normal 28px/1 fonts.$zmdi-font-name;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      height: 100%;
      padding: 5px;
      //position: absolute;
      text-decoration: none;
      text-rendering: auto;
      width: 100%;
    }

    .leaflet-photon {
      right: calc(50% - 200px);
      @media (max-width: general.$smartphone) {
        margin: 0;
        right: 0;
        top: 0;
        width: 100%;
      }
    }

    .leaflet-control-permalink {
      @media print {
        display: none;
      }
    }

    @media (max-width: general.$smartphone) {
      top: 60px;
    }
    @media print {
      height: 100%;
      top: 0;
    }
  }

  .leaflet-bar {
    a {
      color: colors.$color-leaflet-button;
    }
  }

  footer {
    display: none;
  }
}

.reverse-label {
  background-color: colors.$color-near-white;
  border: 1px solid colors.$color-border;
  bottom: 0;
  color: colors.$color-dark-text;
  margin-bottom: 0; // !important;
  opacity: .8;
  padding: 0 10px;
  position: fixed;
  right: 0;
  text-align: center;
  @media (max-width: general.$smartphone) {
    bottom: 2.5em;
    margin-right: 0; // !important;
    width: 100%;
  }
  @media print {
    bottom: inherit; // need???
    font-size: x-large;
    height: 1.5em;
    top: 0;
    visibility: visible; // need??
  }
}

.leaflet-top.leaflet-left {
  @media (max-width: general.$smartphone) {
    display: block;
    top: $height-photon; //hack
  }
  @media print {
    visibility: hidden;
  }
}

.leaflet-bottom .leaflet-control {
  margin: 0;
}

.photon-autocomplete li .type {
  float: right;
  font-family: 'open_sanslight';
  font-size: .8em;
  font-weight: normal;
}
