.hidden {
  visibility: hidden;
}

.noteholder {
  background-color: rgba(0, 0, 0, .25);
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 16777271; // at top!



  .note {
    background-color: $color-near-white;
    border: 10px solid;
    border-color: $color-border-dark;
    border-radius: 10px;
    margin: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    max-height: 80%;
    //overflow-x: auto;
    padding: 30px;
    padding-bottom: 0;
    position: absolute;
    width: 80%;

    .text-area {
      overflow-x: auto;
    }

    input[type="submit"] {
      bottom: 30px;
      float: right;
      position: relative;
    }
  }
}
