// Wrapper for material-design-iconic-font with correct font path
@forward '~material-design-iconic-font/scss/material-design-iconic-font' with ($zmdi-font-path: '~material-design-iconic-font/dist/fonts'
);