/* ************************************************* */
/* *************** HEADER & FOOTER ***************** */
/* ************************************************* */
$light : #fefefe;
$dark : #333;

.headmasked {
  @media (max-width: 640px){
    visibility: hidden;
  }
}

header {
  height: 100px;
  padding: 0 20px;
  background-color: $light;
  color: $dark;
  border-bottom: 1px solid $dark;
  h1 {
    line-height: 100px;
    margin-left: 140px;
    font-size: 40px;
    font-weight: normal;
    font-family: 'open_sanslight';
    a {
      color: $dark;
    }
    @media (max-width: 640px){
      margin-left : 0;
      line-height:45px;
    }
  }
  .menu {
    float: right;
    margin-right: 60px;
    @media (max-width: 640px){
      margin-right : 0;
    }
    a {
      color: $dark;
      line-height: 100px;
      font-size: 15px;
      text-transform: uppercase;
      font-family: 'open_sansextrabold';
      font-weight: normal;
      &:hover {
        text-decoration: underline;
      }
      + a {
        margin-left: 20px;
        @media (max-width: 640px){
          margin-left : 0;
        }
      }
    }
  }
  section {
    display: inline-block;
  }
  @media (max-width: 640px){
    height : 60px;
  }
  @media print{
      visibility: hidden;
      height: 0px;
  }
}

footer {
  border-top: 1px solid #222;
  padding: 50px;
  color: $light;
  background-color: $dark;
  margin-top: 100px;
  a {
    text-decoration: none;
    color: $light;
    font-family: 'open_sanslight';
  }
}

header a {
  text-decoration: none;
  color: $light;
  font-family: 'open_sanslight';
}

footer ul {
  width: 30%;
  display: inline-block;
}

.beta:after {
  content: 'bêta';
  font-family: 'open_sansextrabold';
  font-weight: normal;
  color: #de1c12;
  font-size: 15px;
  padding: 3px 5px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 25px;
  left: -31px;
  float: right;
}
